*~
#*#

*.depend
Makefile.coq
Makefile.coq.bak
*.vo
*.glob
*.v.d
.#*
.dir-locals.el
*.mli
*.ml.d
*.mli.d
*.cmo
*.cmi
*.o
*.cmx
*.cmxs

ExamplePwMgr2.ml
ExamplePwMgr.ml
ExamplePwMgrWithSSBFull.ml

*.log
*.out
*.pdf
*.synctex.gz
*.synctex.gz(busy)
*.aux
*.toc
*.nav
*.snm

/6.858/proj-final.tar.gz
